.DS_Store
.env*
/activate*
/.local/
/.venv*/
/src/*.egg-info
*.sqlite?
*.pid
.*.sw[poc]
*.py[co]
__pycache__/
/build
/dist
.azure/
.idea/
ipy/.ipynb_checkpoints
/.coverage
/.tox/
/report/
/docs/build
